# Node and Next.js
node_modules/
.next/
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# OS
.DS_Store

# IDEs
.vscode/
.idea/

# Local npm cache accidentally committed earlier
.npm-cache/

# Lockfiles
package-lock.json
pnpm-lock.yaml

# Misc
.envrc
coverage/
coverage/*
